{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Raphael Costa" />
        <title>GESTÃO RFID</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'base/assets/favicon.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'base/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href=""><img src= "static/assets/img/logo2.png" alt="img"></a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/admin">Área Administrativa</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">TENHA A MELHOR GESTÃO PARA SUA FROTA</h1>
                            <p class="lead text-white-50 mb-4">Otimize sua frota com nosso sistema de gestão: controle, monitoramento e eficiência para alcançar o sucesso!</p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Gestão Melhorada</h2>
                        <p>Tenha em suas mãos a gestão de ordem de serviços de cada cliente e de cada máquina!</p>

                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Controle de Datas</h2>
                        <p>Tenha acesso as datas de cada OS criada. Mantenha o controle de seus prazos!</p>

                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">PowerBI</h2>
                        <p>Integre o banco de dados a tecnologia PowerBI da Microsoft e crie dashboards interativos!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section class="bg-light py-5">
            <div class="container px-5 my-5 px-5">
                <div class="text-center mb-5">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                    <h2 class="fw-bolder">Entre em contato!</h2>
                    <p class="lead mb-0">Adoraríamos conversar com você!</p>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <form action="https://formsubmit.co/gestaorfid@gmail.com" method="POST" enctype="text/plain" id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Nome -->
                            <div class="form-floating mb-3">
                                <input type="name" name="Nome" class="form-control" id="name" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Nome completo</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">Escreva seu nome</div>
                            </div>
                            <!-- Email -->
                            <div class="form-floating mb-3">
                                <input type="email" name="email" class="form-control" id="email"  placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">Email é necessário</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email inválido</div>
                            </div>
                            <!-- Numero de Telefone-->
                            <div class="form-floating mb-3">
                                <input type="tel" name="tel" class="form-control" id="phone" placeholder="(123) 456-7890" data-sb-validations="required" />
                                <label for="phone">Telefone</label>
                                <div class="invalid-feedback" data-sb-feedback="phone:required">É necessário um telefone</div>
                            </div>
                            <!-- Menssagem -->
                            <div class="form-floating mb-3">
                                <input type="text" name="text" class="form-control" id="message" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></input>
                                <label for="message">Mensagem</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">É preciso uma mensagem...</div>
                            </div>

                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Mensagem enviada com sucesso!</div>
                                    <br />
                                </div>
                            </div>

                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Erro ao enviar!</div></div>

                            <div class="d-grid"><button type="submit" class="btn btn-primary btn-lg disabled" id="submitButton" >Enviar!</button></div>

                        </form>
                    </div>
                </div>
            </div>
        </section>

        <footer class="py-5 bg-dark">
            <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Gestão RFID 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="{% static 'base/js/scripts.js' %}"></script>
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
